

/*
WORKSPACE__TRACK
*/
.workspace__track {
    position: relative;
    width: 100%;
    white-space: nowrap;
    z-index: 1;
    background-color: #1d1d1d;
  }

  
/*Cause bad performance then playing*/
/* .workspace__track:hover .note{ 
  box-shadow:inset 0px -31px 0px rgb(255 193 115 / 15%);
}*/
.workspace__track:hover .track-control{
    box-shadow:inset 0px -31px 0px rgb(255 255 255 / 12%)
  }  

  


/*
TRACK-CONTROL
*/
.track-control{  
    position: sticky;
    left: 0;
    display: inline-block;
    width: 150px;
    /* height: 31px; */
    background-color: #353535;
    z-index: 2;
    border: 1px solid #121212;
    border-right: 8px solid #121212;
    border-left: 0px;
    color: #DBDBDB;
  }
  
  .track-control__title{
    position: absolute;
    padding-left: 8px;
    left: 48px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .track-control__volume {
    position: absolute;
    left: 8px;
    width: 40px;
    height: 23px;
    overflow: hidden;
    /* background: linear-gradient(transparent 50%, green 50%); */
    text-align: center;
    margin-top: 3px;
    border: 1px solid rgb(13 136 0 / 52%);
    color: #329D27;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  
  

  .track-control__load{
    height: 20px;
    float: right;
    margin-top: 4px;
    /* box-shadow: 1px 1px 0px 2px rgb(0 0 0 / 30%); */
  }

  .track-control .icon-button.icon-button--disabled.track-control__load{
    border-color: transparent;
  } 

  .track-control__load svg{
    margin-top: -3px;
    width: 20px;
    height: 14px;
    vertical-align: top;
  }

  .track-control__settings{
    float: right;
    margin-right: 8px;
    margin-top: 4px;
    height: 21px;
  }

  .track-control__settings .settings-icon{
    width: 20px;
    height: 20px;
    filter: drop-shadow(2px 2px 0px rgb(0 0 0 / 30%));
  }

  .track-control__settings .settings-icon path{
    fill: #DBDBDB; /*#080E73;*/
  }

  /*
  Note
  */
  .note{
    border: 1px solid #121212;
    border-radius: 12%;
    display: inline-block;
    background-color:#323232 ;
  }
  
  /* .note:last-child{
    margin-right: 100px;
  } */
  
  .note.note_filled, .note.note_filled.note.note_level_0 {
    background-color:#212121 ;
  }
  
  .note.note_level_1 {
    background-color:#FFA12A;
  } 

  


.workspace__track__takt{
    display: inline-block;
}

.workspace__track__takt:last-child {
    margin-right: 100px;
}

/*
* USER_AUDIO
*/
.user-audio-track{
  display: inline-block;
  height: 31px;
  background-color: #323232;
  /* cursor: pointer; */
  border: 1px solid #121212;
  overflow: hidden;
}

.user-audio-track-loaded{
  /* background-color: #FF8E00;   */
}
.user-audio-visualization{
  cursor: move;
}

.track-control .mute-button{
  margin-top: 4px;
  float: right;
  margin-right: 8px;
  padding: 8px 0;
}