.icon-button {
    height: 32px;
    margin-right: 8px;
    background-color: #272727;
    color: #f5d8b3;
    border: 2px solid #272727;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 30%);
    vertical-align: top;
    padding: 4px 4px;
    cursor: pointer;
    user-select: none;
}

.icon-button svg{
    width: 25px;
    height: 16px;
    vertical-align: top;
}

.icon-button svg path{
    fill: #f5d8b3 !important;
}

.icon-button svg rect{
    fill: #f5d8b3 !important;
}


.icon-button--disabled{
    cursor: auto;
    background-color: #323232;
}

.icon-button--disabled svg path{
    fill: #272727 !important;
}
.icon-button--disabled svg rect{
    fill: #272727 !important;
}

/* .switch-button--checked {
    background-color: #2F3485;
}

.switch-button--checked svg path {
    fill: #ffc173e6 !important;
}

.switch-button--unchecked svg path{
    fill: #2F3485 !important;
} */