


/*
app-toolbar
*/

.app-toolbar {
    /* position: inherit; */
    display: inline-block;
    /* width: 100%; */
    top: 40px;
    margin-top: 40px;
    /* height: 40px; */
    width: 100%;
    background-color: #323232;
    padding: 8px;
    white-space: nowrap;
    z-index: 3;
  }
  
  .app-toolbar__button {
    height: 28px;
    margin-right: 8px;
    background-color: #272727;
    color: #DBDBDB;
    border: 2px solid #272727;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 30%);
    vertical-align: top;
  }
  
  .app-toolbar__button:hover {
    cursor: pointer;
  }
  
  .app-toolbar__button:disabled {
    cursor: default;
    background-color: transparent;
    color: #1d1d1d;
  }
  
  .app-toolbar > div {
    display: inline-block;
    margin-right: 8px;
    height: 28px;
    vertical-align: top;
    color: #DBDBDB;
    line-height: 28px;
  }
  
  .app-toolbar__bpm input{
    border: 2px solid #272727;
    /* margin-left: 8px; */
    background-color: #323232;
    color: #DBDBDB;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 30%);
    box-sizing: border-box;
    vertical-align: top;
    height: 21px;
    width: 60px;
    font-size: 11pt;
  }

  .app-toolbar__time-signature .app-select{
    vertical-align: top;
    /* margin-left: 8px; */
    width: 60px;
  }

  /* .app-toolbar__time-signature .app-select__input {
    height: 32px;
    line-height: 26px;
  } */

  .app-toolbar .switch-button{
    vertical-align: top;
  }

 .app-toolbar__time-input {
    height: 21px;
    line-height: 15px;
    border: 2px solid #272727;
    background-color: #323232;
    color: #DBDBDB;
    padding: 0 4px;
    overflow: hidden;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 30%);
    box-sizing: border-box;
 }

 .app-toolbar__input-title {
  font-size: 11px;
  line-height: 11px;
  margin-top: -5px;
  margin-bottom: 1px;
 }

 .no-margin {
   margin: 0;
 }

 .app-toolbar .app-toolbar__delimiter{
  display: inline-block;
  height: 24px;
  width: 2px;
  margin-top: 2px;
  margin-right: 7px;
  background-color: rgb(0 0 0 / 30%);
 }