/*
 NO PRINT
*/
@media print
{    
  .no-print {
    display: none !important;
  }
  @page { 
    margin-top: 0; 
    margin-bottom: 0; 
    margin-left: 48px; 
    margin-right: 48px; 
  }

  .print{
    display: block !important;
  }
}


/*
  STYLES
*/

body {
  background: #2F3485;
}

/*
track-container
*/

.track-container {
 overflow-x: scroll;
}

.track-container::-webkit-scrollbar {
  width: 1em;
}
 
.track-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.track-container::-webkit-scrollbar-thumb {
  background-color: #7277D8;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-left: 1px solid #2F3485;
  border-right: 1px solid #2F3485;
}

.track-container::-webkit-scrollbar-button{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2F3485;
  border: 1px solid black;
}

.track-container::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 8px 8px 8px 8px;
  border-color: transparent #7277D8 transparent transparent;
}
.track-container::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-width: 8px 8px 8px 8px;
  border-color: transparent transparent transparent #7277D8;
}


/*
CANVASE
*/
.canvas_notes {
  background-color: white;
  margin: 48px auto;
  display: block;
  left: 0;
    right: 0;
}



/* Основной Цвет:
#1921B1	#2F3485	#080E73	#4D54D8	#7277D8
Вторичный Цвет A:
#FFE500	#BFB130	#A69500	#FFEC40	#FFF173
Вторичный Цвет B:
#FF8E00	#BF8030	#A65C00	#FFAA40	#FFC173 */


/*
CONTROLS
*/
.button{
  height: 21px;
  margin-right: 8px;
  background-color: #2F3485;
  color: #FFC173;
  border: 2px solid #2F3485;
  box-shadow: 2px 2px 0px rgb(0 0 0 / 30%);
  vertical-align: top;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: default;
  background-color: #7277D8;
  color: #2F3485;
  border: 2px solid #2F3485;
}