.switch-button {
    display: inline-block;
    height: 28px;
    background-color: #323232;
    border: 2px solid #272727;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 30%);
    cursor: pointer;
    user-select: none;
    padding: 4px 4px;
    box-sizing: border-box;
}

.switch-button svg{
    width: 25px;
    height: 16px;
    vertical-align: top;
}

.switch-button--checked {
    background-color: #272727;
}

.switch-button--checked svg path {
    fill: #DBDBDB !important;
}

.switch-button--unchecked svg path{
    fill: #272727 !important;
}