

/*
TIMELINE
*/
.timeline{
    position: relative;
    display: block;
    height: 20px;
    background-color: #2F3485;
    margin-bottom: -10px;
}
  
.timeline__takt{
    display: inline-block;
    height: 12px;
    /* border-left: 1px solid #080E73; */
    border-right: 1px solid #080E73;
    vertical-align: top;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 4px;
    /* margin-bottom: 5px;*/
}

.timeline__takt:first-child{
    border-left: 1px solid #080E73;
}

.takt__number{
    color: #FFAA40;
    height: 20px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-left: 4px;
    margin-top: -5px;
}



/*
TIME-POINTER
*/
.time-pointer{
    position: relative;
    width: 10px;
    height: 10px;
    /* background-color: #FFAA40; */
    /* border-radius: 50%; */
    /* margin-left: 11px; */
    margin-bottom: -4px;
    z-index: 2;
    border: solid;
    border-width: 10px 5px 5px 5px;
    border-color: #FFAA40 transparent transparent transparent;
}

.time-pointer__stick{
    width: 2px;
    height: 100px;
    background-color: #FFAA40;
    margin-left: -1px;
    margin-top : -10px;
}

/*
*Loop selection
*/

.loop-selection {
    width: 350px;
    height: 21px;
    background: green;
    position: absolute;
    top: 0;
}

.loop-selection__button {    
    position: absolute;
    width: 10px;
    height: 100%;
    background: red;    
    top: 0;
}

.loop-selection__button--right {
    right: 0;
}